<!-- Exercicio 3 | navbar-->
<app-navbar /> 

<!-- Exercicios 1 -->
<main class="bg-primary container position-relative">
  <div class="position-absolute top-50 start-50 translate-middle row w-50">
    <app-registration-form class="col-6 d-flex flex-column align-items-center" />
    <img class="col-6 img-fluid" src="../assets/Sending emails_Monochromatic.svg" alt="">
  </div>
</main>

<!-- Exercicio 2 | Button trigger modal -->
<app-modal-form></app-modal-form> 

<!-- Exercicio 4 5 6 -->

<div class="container mt-3">
  <div class="row">
    <app-card  />
    <app-cards-item class="col-3 p-4" *ngFor="let character of characters" [character]="character"/>
  </div>
  
</div>

<!-- Exercicio 7 -->
<div class="container mt-3">
  <div class="row">
    <app-injecao-login class="col-6"/>
  </div>
</div> 

<!-- Exercicio 8 -->
<!-- <div class="container mt-3">
  <div class="row">
    <app-search-input class="col-6" (eventSearchInput)="logInput($event)" />
  </div>
</div> -->